#activity-select {
    width: 100%;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #fe9800 ;
  text-align: center;
   letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
   transition: background-color .2s ease-out;
   cursor: pointer;
  };

  h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 0px;
  }