.card-body{
  background-image: black;
}
.image-frame {
    border-top: -20px solid white;
    border-bottom: 20px solid white;
  };

.card .card-title {
    padding-left: 80px !important;
    font-size: 24px !important;
    font-weight: 500 !important;
}

a {
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 0px;
}

.love-btn {
  text-align: right; 
}

.price {
  text-align: right; 
}

/* .btn-padding {
  margin-left: 80%;
  margin-top: -10%;
  
} */

b, strong {
  font-weight: 700;
  text-align: right;
  display: block;
  background-color: lightgrey;
  border-color: lightgrey;
  border-radius: 10px;
  float: right;
  color: white;
  padding: 5px;
}

.btn-padding {
  float: right;
  background-color: transparent;
    color: lightgrey;
    border-radius: 10px;
}; 

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.card .card-content p {
  margin: 0 0 15px;
  margin-top: 30px !important; 
}

b, strong {
  font-weight: bolder;
  text-align: right;
  float: right;
  margin-bottom: 15px;
  font-size: large;
}

.user {
  margin-bottom: 15px;
}