.card-body{
  background-image: black;
}
.image-frame {
    border-top: -20px solid white;
    border-bottom: 20px solid white;
  };

.card .card-title {
    padding-left: 80px !important;
    font-size: 24px !important;
    font-weight: 500 !important;
}

a {
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 0px;
}

.love-btn {
  text-align: right; 
}

.price {
  text-align: right; 
}

/* .btn-padding {
  margin-left: 80%;
  margin-top: -10%;
  
} */

b, strong {
  font-weight: 700;
  text-align: right;
  display: block;
  background-color: lightgrey;
  border-color: lightgrey;
  border-radius: 10px;
  float: right;
  color: white;
  padding: 5px;
  margin-bottom: 15px;
  font-size: large;
}