.burger {
  display: block;
  text-align: center;
  height: 64px;
  width: auto;
  padding: 20px;
}

.logo-wrap {
  display: block;
  text-align: center;
  height: 64px;
  width: 20px;
  padding: 20px;
}

@media only screen and (min-width: 601px) {
  .row .col.m4 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

button.btn.modal-close {
  margin-left: 20px;
  margin-top: 15px;
}

.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
  margin-left: 20px;
}

.modal .modal-content {
  padding: 40px;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 20px;
}